.fixed-component-nav {
  background-color: #FFFFFF;
  padding: 15px;
  width: 300px;
  border-radius: 4px;
  position: fixed;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.component {
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 100px;
  position: relative;

}

.component-container {
  padding: 30px;
  position: relative;
}

.input-wrap {
  display: flex;
  flex-direction: column;
}

.input-wrap label {
  color: #0c1267;
  opacity: 0.23;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

.switch-label {
  color: #0c1267;
  opacity: 0.23;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  margin-left: 12px;
}

.input-wrap input,
textarea, select {
  margin-bottom: 18px !important;
  height: 42px;
  padding-left: 12px;
  outline: none;
  border: 2px solid #f3f5f7;
  border-radius: 4px;
  transition: 0.2s ease;
  color: #0c1267;
  font-size: 16px;
  background-color: #FFFFFF;
}

.input-wrap textarea {
  height: 100px;
  padding-top: 8px;
  resize: none;
}

.input-wrap input:active,
.input-wrap input:focus,
.input-wrap textarea:active,
.input-wrap textarea:focus,
.input-wrap select:active,
.input-wrap select:focus {
  border: 2px solid #0c1267;
}


.switch {
  height: 28px;
  width: 75px;
  min-width: 75px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;

}

.switch__control {
  background-color: #f2f2f4;
  border-radius: 2px;
  height: 20px;
  width: 32px;
  position: absolute;
  transition: 0.3s ease;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch__control--on {
  left: 38px;
}

.switch__control--off {
  left: 5px;
}

.switch--off {
  background-color: #ebeaec;
}

.switch--on {
  background-color: #7cc492;
}

.button-secondary {
  height: 32px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu-list__item {
  width: 100%;
  min-height: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f3f5f7;
  transition: 0.2s ease;
}

.menu-list__item:hover {
  cursor: pointer;
  opacity: 0.4;
}

.edit-form {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0;
  border-radius: 4px;
  z-index: 4;
}


.input-field-wrap {
  display: flex;
}

.field-group--left {
  margin-right: 7px;
} 

.field-group--right {
  margin-left: 7px;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
}

.dropdown-wrapper label {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
